body{
    margin-top: 32px;
    background-color: #ce1010;
    background: url('../images/pix.jpg')
  }
  .players-reg, .game-section, .results-screen,.wingame,.gamestats {
    display: none;
  }
  .btn-danger {
    margin-top: 10px;
    background-color: rgb(16, 60, 204);
  }
  .button-disable {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: .65;
    pointer-events: none;
  }
  .panel-disable {
    color: white;
    background-color: grey;
    opacity: .9;
  }
